.active-link{
    color: #00B594;
}


.logo{
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.sign{
   
    
    display: flex ;
    flex-direction: row ;
    
}
.Btn{
    margin-left: 20px !important;
    
}
.nabbar{
    border-bottom: 3px solid royalblue !important;
    height: 60px;
    /********/
    /* position: fixed;
    width: 100%;  */

}

.searchInput{
    /* border: 2px solid red; */
    margin-right: 20px;
}
